# Kodi's travis-ci.org integration file

# Define the build matrix
#
# Travis defaults to building on Ubuntu Precise when building on Linux. We need Trusty in order to get up
# to date versions of cmake and g++.
#
sudo: required
dist: trusty


language: cpp

compiler:
  - gcc
  - clang

before_script:
  - ulimit -c unlimited -S
  - mkdir build
  - cd build
  - cmake .. 
 
before_install:
# Prune non-root Python from PATH. Solves https://github.com/travis-ci/travis-ci/issues/4948
# see: https://github.com/travis-ci/travis-ci/issues/5326
 - export PATH=$(echo $PATH | tr ':' "\n" | sed '/\/opt\/python/d' | tr "\n" ":" | sed "s|::|:|g")
  
# Install dependencies
#
# Install any prerequisites or dependencies necessary to run our builds
#
install:
 - sudo apt-get install -y gettext
 - sudo apt-get install -y git-core
 - sudo apt-get install -y gperf
 - sudo apt-get install -y automake
 - sudo apt-get install -y autopoint
 - sudo apt-get install -y build-essential
 - sudo apt-get install -y cmake
 - sudo apt-get install -y curl
 - sudo apt-get install -y default-jre
 - sudo apt-get install -y gawk
 - sudo apt-get install -y gdb
 - sudo apt-get install -y gdc
 - wget -c http://ftp.gnu.org/gnu/libmicrohttpd/libmicrohttpd-0.9.59.tar.gz
 - (tar zxf libmicrohttpd-0.9.59.tar.gz; cd libmicrohttpd-0.9.59; ./configure; make; sudo make install; cd ..; rm -fr libmicrohttpd-0.9.59)
 - sudo apt-get install -y liblzo2-dev
 - sudo apt-get install -y libgif-dev
 - sudo apt-get install -y libiso9660-dev
 - sudo apt-get install -y libcdio-dev
 - sudo apt-get install -y libfribidi-dev
 - sudo apt-get install -y libtag1-dev
 - sudo apt-get install -y libtinyxml-dev
 - sudo apt-get install -y libegl1-mesa-dev
 - sudo apt-get install -y libxrandr-dev
 - sudo apt-get install -y libvdpau-dev
 - sudo apt-get install -y libass-dev
 - sudo apt-get install -y libasound2-dev
 - sudo apt-get install -y libbz2-dev
 - sudo apt-get install -y libcap-dev
 - sudo apt-get install -y cec-utils
 - sudo apt-get install -y libcurl3
 - sudo apt-get install -y libcurl4-openssl-dev
 - sudo apt-get install -y libdbus-1-dev
 - sudo apt-get install -y libfontconfig-dev
 - sudo apt-get install -y libegl1-mesa-dev
 - sudo apt-get install -y libfreetype6-dev
 - sudo apt-get install -y libjpeg-dev
 - sudo apt-get install -y liblcms2-dev
 - sudo apt-get install -y libltdl-dev
 - sudo apt-get install -y libmicrohttpd-dev
 - sudo apt-get install -y libmysqlclient-dev
 - sudo apt-get install -y libnfs-dev
 - sudo apt-get install -y libpcre3-dev
 - sudo apt-get install -y libplist-dev
 - sudo apt-get install -y libpng-dev
 - sudo apt-get install -y libpulse-dev
 - sudo apt-get install -y libsmbclient-dev
 - sudo apt-get install -y libsqlite3-dev
 - sudo apt-get install -y libssh-dev
 - sudo apt-get install -y libssl-dev
 - sudo apt-get install -y libtag1-dev
 - sudo apt-get install -y libtool
 - sudo apt-get install -y libudev-dev
 - sudo apt-get install -y libusb-dev
 - sudo apt-get install -y libva-dev
 - sudo apt-get install -y libxml2-dev
 - sudo apt-get install -y libxmu-dev
 - sudo apt-get install -y libxrender-dev
 - sudo apt-get install -y libxslt1-dev
 - sudo apt-get install -y libxt-dev
 - sudo apt-get install -y libyajl-dev
 - sudo apt-get install -y mesa-utils
 - sudo apt-get install -y nasm
 - sudo apt-get install -y pmount
 - sudo apt-get install -y python-dev
 - sudo apt-get install -y python-imaging
 - sudo apt-get install -y python-sqlite
 - sudo apt-get install -y swig
 - sudo apt-get install -y unzip
 - sudo apt-get install -y uuid-dev
 - sudo apt-get install -y yasm
 - sudo apt-get install -y zip
 - sudo apt-get install -y zlib1g-dev
 - sudo apt-get install -y rapidjson-dev

script: make && make test
